body {
  height: 100vh;
  background: url("resources/background.svg");
  background-size: cover;
  color: #000;
}

#root {
  height: 100%;
}

#container-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#timer {
  text-align: center;
  font-size: 48px;
  width: auto;
  animation: fadeIn 0.5s ease-out, shrinkIn 0.5s ease-out;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3)
}

#timer-setup {
  animation: fadeIn 0.5s ease-out, growIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shrinkIn {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

#timer #time-display {
  transition: 0.5s all;
}

#timer.large #time-display {
  transform: scale(2);
  margin-bottom: 20px;
  transition: 0.5s all;
}

.time-input {
  padding: 10px;
  border: 1px solid #ccc;
  border: none;
  margin: 10px;
  background: #fff;
  width: 50px;
  font-size: 36px;
  border-radius: 5px;
}

.time-input:focus {
  outline: none;
}

#range-slider {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

#range-slider::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

#range-slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover,
.button:active {
  color: #0e83cd;
}

#container-buttons {
  display: block;
  width: 100%;
}

#about-button {
  cursor: pointer;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#containerAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.link {
  color: #000;
  font-weight: bold;
}

#timer-done {
  height: 100px;
  color: #f4424b;
  font-weight: bold;
  text-transform: uppercase;
  animation: 2s timer-done-animation infinite;
}

@keyframes timer-done-animation {
  0% {
    transform: scale(1.8);
    opacity: 0.2;
  }

  50% {
    transform: scale(2);
    opacity: 1;
  }

  100% {
    transform: scale(1.8);
    opacity: 0.2;
  }
}

#containerAboutInner {
  position: relative;
  padding: 20px 40px;
}

#closeAbout {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  font-size: 24px;
}
