body {
  height: 100vh;
  background: url("resources/background.svg");
  background-size: cover;
  color: #000;
}

#root {
  height: 100%;
}

#container-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#timer {
  text-align: center;
  font-size: 48px;
  animation: fadeIn 0.5s ease-out, shrinkIn 0.5s ease-out;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 300px;
  transition: all 0.5s;
}

#timer-setup {
  animation: fadeIn 0.5s ease-out, growIn 0.5s ease-out;
  background: #fff;
  padding: 40px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shrinkIn {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

#timer #time-display {
  transition: 0.5s all;
}

#timer.large #time-display {
  transform: scale(2);
  margin-bottom: 20px;
  transition: 0.5s all;
}

.time-input {
  padding: 10px;
  border: 1px solid #ccc;
  border: none;
  margin: 10px;
  background: #fff;
  width: 50px;
  font-size: 36px;
}

.time-input:focus {
  outline: none;
}

#range-slider {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

#range-slider::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border: 1px solid transparent;
}

#range-slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover,
.button:active {
  color: #0e83cd;
}

#container-buttons {
  display: block;
  width: 100%;
}

#about-button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  font-weight: bold;
  background: none;
  padding: 10px;
  font-size: 18px;
}

#containerAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.link {
  color: #000;
  font-weight: bold;
}

#timer-done {
  height: 100px;
  color: #f4424b;
  font-weight: bold;
  text-transform: uppercase;
  animation: 2s timer-done-animation infinite;
}

@keyframes timer-done-animation {
  0% {
    transform: scale(1.8);
    opacity: 0.2;
  }

  50% {
    transform: scale(2);
    opacity: 1;
  }

  100% {
    transform: scale(1.8);
    opacity: 0.2;
  }
}

#containerAboutInner {
  position: relative;
  padding: 20px 40px;
  background: #fff;
  animation: 1s animateAbout normal;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

@keyframes animateAbout {
  0% {
    opacity: 0;
    top: -10px;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    top: 0;
    transform: scale(1);
  }
}

#closeAbout {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  font-size: 24px;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  line-height: 30px;
  display: inline-block;
}
#closeAbout:before, #closeAbout:after {
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -15px;
  display: block;
  height: 6px;
  width: 30px;
  background-color: #777;
  border-radius: 2px;
  transition: all 0.25s ease-out;
}
#closeAbout:after {
  transform: rotate(-135deg);
}
#closeAbout:hover:before, #closeAbout:hover:after {
  transform: rotate(0deg);
  background-color: #000;
}

.colon-separator {
  position: relative;
  top: -6px;
  left: -5px;
}

@media (min-width: 1200px) {
  #timer {
    width: 700px;
    height: auto;
    font-size: 60px !important;
    padding: 80px;
  }
}

@media (max-width: 600px) {
  #timer {
    width: auto;
    height: auto;
    font-size: 24px !important;
  }

  #button-start, #button-edit, #button-save {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #button-save {
    left: 10px;
  }

  .colon-separator {
    text-align: center;
    margin: 0 auto;
    display: block;
    left: 10px;
  }

  .time-input {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}